@model IEnumerable<WebApp.Models.FormResult>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Form.FirstMidName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FormResultConfirmed)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FormResultPrice)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FormResultShiftWork)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FormResultShiftWork2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FormResultMilitaryService)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FormResultEduStatus)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FormResultAddress)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Form.FirstMidName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FormResultConfirmed)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FormResultPrice)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FormResultShiftWork)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FormResultShiftWork2)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FormResultMilitaryService)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FormResultEduStatus)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FormResultAddress)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.FormResultId }) |
            @Html.ActionLink("Details", "Details", new { id=item.FormResultId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.FormResultId })
        </td>
    </tr>
}

</table>
