@model IEnumerable<WebApp.Models.Form>
@{
    Layout = "~/Views/FormView/_LayoutFormView.cshtml";
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FormId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstMidName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BirthDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Address)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MilitaryService)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TshirtSize)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PantSize)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ShoesSize)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DrivingLicence)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DrivingLicenceClass)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ForkliftLicence)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CraneOperationLicense)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.WorkingNow)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.JobChangeReason)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ok4Overtime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ok4ShiftWork)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <th>
                @item.FormId
            </th>
            <td>
                @Html.DisplayFor(modelItem => item.FirstMidName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BirthDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhoneNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MilitaryService)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TshirtSize)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PantSize)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ShoesSize)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DrivingLicence)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DrivingLicenceClass)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ForkliftLicence)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CraneOperationLicense)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WorkingNow)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.JobChangeReason)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ok4Overtime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ok4ShiftWork)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new {id = item.FormId}) |
                @Html.ActionLink("Details", "Details", new {id = item.FormId}) |
                @Html.ActionLink("Delete", "Delete", new {id = item.FormId})
            </td>
        </tr>
    }

</table>
