@model WebApp.Models.JobHistory

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>JobHistory</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.JobHistoryName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.JobHistoryName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Mission)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Mission)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WorkDays)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WorkDays)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Reason4Leaving)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Reason4Leaving)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.JobHistoryId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
