@model WebApp.Models.LangInfo

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>LangInfo</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.LangInfoName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LangInfoName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LangInfoLevel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LangInfoLevel)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.LangInfoId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
